{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Surveys | Home</title>
    <style type="text/css">
      body{
        background-color:#d4ebf2;
      }
      .list-group-item .btn{
        float: right;

      }
    </style>
  </head>
  <body>
 {% include 'navbar.html' %}
    <!--Main Body-->
   <div class="container mb-3">
    <div class="list-group mt-3">
      <div class="card">
  <div class="card-header">
    Cast Your Vote
  </div>
  <div class="card-body">
    <div class="card-title">
      <h1>{{poll.Question}}</h1>
    </div>
    <hr>
  <form action="{% url 'vote' poll.id %}" method="post">
    {% csrf_token %}
    <div class="container">
    
  <div class="row">
    <div class="col-sm">
  <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    {{poll.Option1}}
  </label>
</div>
    </div>
    <div class="col-sm">
     <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Option2">
  <label class="form-check-label" for="exampleRadios2">
    {{poll.Option2}}
  </label>
</div>
    </div>
    <div class="col-sm">
      <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Option3">
  <label class="form-check-label" for="exampleRadios2">
    {{poll.Option3}}
  </label>
</div>
    </div>
  </div>
</div>
 <div class="mt-4">
    <button type="submit" class="btn btn-primary"> Submit</button>
  </div>
</form>

  </div>
 
</div>
  </div>
   </div>
    <!--Main Body Ends-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>